---
import EditionTile from "../components/EditionTile.astro";
---

<div class="edition-list">
  <EditionTile
    label="Current edition"
    edition="Q2 (Apr to June) 2025"
    releaseDate="20 October 2025"
    accredited={true}
    active={true}
  />
  <EditionTile
    label="Previous edition"
    edition="Q1 (Jan to Mar) 2025"
    releaseDate="20 October 2025"
    accredited={false}
  />
  <EditionTile
    label="Previous edition"
    edition="Q4 (Oct to Dec) 2024"
    releaseDate="20 October 2024"
    accredited={false}
  />
  <EditionTile
    label="Previous edition"
    edition="Q3 (Jul to Sep) 2025"
    releaseDate="20 October 2025"
    accredited={false}
  />
</div>

<style>
  .edition-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-lg);
    padding-bottom: var(--spacing-content-subsection-gap);
    border-bottom: 1px solid var(--color-border-primary);
  }
</style>